<a href="https://colab.research.google.com/github/evsemenova/Python-for-Analysts/blob/HW_2/%D0%A3%D1%80%D0%BE%D0%BA_2_%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%BE%D0%B9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv**

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('marketing_campaign.csv')

In [ ]:
df2 = pd.read_csv('subscribers.csv')

In [ ]:
df3 = pd.read_csv('users.csv')

In [ ]:
df1.shape

(10037, 6)

In [ ]:
df2.shape

(10037, 5)

In [ ]:
df3.shape

(10037, 3)

In [ ]:
df1.head(1)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True

In [ ]:
df2.head(1)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True

In [ ]:
df3.head(1)

  user_id   age_group language_preferred
0   a1000  0-18 years            English

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   date_served         10021 non-null  object
 2   marketing_channel   10022 non-null  object
 3   variant             10037 non-null  object
 4   language_displayed  10037 non-null  object
 5   converted           10022 non-null  object
dtypes: object(6)
memory usage: 470.6+ KB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB

In [ ]:
df_new = df1.merge(df2, on = 'user_id', how = 'left')
df_new.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True

In [ ]:
df_new2 = df_new.merge(df3, on = 'user_id', how = 'left')
df_new2.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

**2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.**

In [ ]:
# Посмотрим количество строк и столбцов в датафрейме
df_new2.shape

(10037, 12)

In [ ]:
# Общая статистика датасета
df_new2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [ ]:
# Описательная статистика для числовых столбцов датасета
df_new2.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

**3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.**

In [ ]:
# Подсчитаем категории
df_new2['marketing_channel'].value_counts()

House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: marketing_channel, dtype: int64

In [ ]:
df_new2['marketing_channel'].loc[df_new2['converted']==True].value_counts()

House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

**4. Определить самую раннюю дату подписки на сервис**

In [ ]:
df_new2.head(1)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English

In [ ]:
df_new2.sort_values(by = 'date_subscribed', ascending = False).head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
1126,a2126,1/9/18,Instagram,personalization,English,True,Instagram,1/9/18,NaN,True,24-30 years,English
824,a1824,1/9/18,Instagram,personalization,English,True,Instagram,1/9/18,NaN,True,55+ years,English
182,a1182,1/9/18,House Ads,control,English,True,House Ads,1/9/18,NaN,True,24-30 years,English
183,a1183,1/9/18,House Ads,control,English,True,House Ads,1/9/18,NaN,True,30-36 years,English
184,a1184,1/9/18,House Ads,control,English,True,House Ads,1/9/18,1/14/18,False,36-45 years,English

**5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку)\\**

In [ ]:
df_new2[['age_group', 'language_preferred', 'subscribing_channel']].loc[df_new2['is_retained'] == True].value_counts()

age_group    language_preferred  subscribing_channel
19-24 years  English             Instagram              101
                                 Facebook                99
24-30 years  English             Instagram               94
0-18 years   English             Instagram               61
                                 Facebook                56
                                                       ...
19-24 years  Arabic              Email                    1
0-18 years   Spanish             Instagram                1
             Arabic              House Ads                1
36-45 years  Arabic              Email                    1
30-36 years  German              Email                    1
Length: 70, dtype: int64